{
  "arrowParens": "always",
  "bracketSpacing": true,
  "jsxSingleQuote": false,
  "printWidth": 120,
  "quoteProps": "as-needed",
  "semi": true,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "all",
  "useTabs": false,
  "plugins": ["prettier-plugin-packagejson", "@prettier/plugin-xml"],
  "overrides": [
    {
      "files": "*.svg",
      "options": {
        "parser": "xml"
      }
    }
  ]
}